<div id= 'container'>
<p id="notice"><%= notice %></p>

<h4><%= link_to 'Add Ebook File', new_ebook_path,class: "btn btn-outline-primary btn-lg" %> </h4>

<div class="container-fluid">
  <% @ebooks.each do |ebook| %>
    <div class="card-profile">
      <div class= 'image'>
      <%if ebook.image.attached? %>
      <%= image_tag(ebook.image) %>
      <%else%>
      <%= image_tag("https://img.clipartxtras.com/5fedcc84bd43eff6c6da48f5ed07c738_site-assets-books-for-school5-new-book-clipart_2400-1793.jpeg")%>
      <% end %>
      </div>
      <br>
      <div class="content">
        <p>Title: <%= ebook.title %></p>
    
        <div class="description">
          <p>Description: <%= ebook.description%></p>
        </div>

        <div class="meta">
          <%= ebook.created_at%>
        </div>

        <div class="extra content">
          
          
          <%= link_to 'More Info', ebook %>
        </div>
      </div>  
    </div>
    <% end %>  
</div>









